
body {
  font-family: "Rubik", sans-serif;
}
/*smartbar*/
.left-content {
  display: flex;
  align-items: center;
}

.date {
  font: normal normal normal 14px/8px Rubik;
}

.welcome {
  font: normal normal medium 18px/8px Rubik;
  margin-top: -4px;
}

.smart-bar-text {
  font: normal normal 19px/8px Rubik;
  color: #ffffff;
  text-decoration: none;
}

/* Close button style */
#closeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  right: 10px; /* Adjust as needed */
}

#closeBtn:hover {
  color: #cccccc;
}

@media only screen and (max-width: 1080px) {
  .container-fluid {
    display: none;
  }
}
 /* Navbar stil */
.navbar {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Altına geçişli shadow */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 15px; /* Logo sola yatırıldı */
}

.navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 1.1rem;
  color: #333;
}

/* Arama çubuğu stil */
.navbar .form-inline .input-group {
  flex: 1; /* Tüm alanı kaplamasını sağlar */
  border: 1px solid #000;
  border-radius: 10px;
}

.navbar .form-inline .form-control {
  width: 700px; /* Arama kutusu genişliği arttırıldı */
  height: 40px; /* Arama kutusu yüksekliği */
  font-size: 1.2rem; /* Yazı boyutu */
}

.navbar .form-inline .btn {
  width: auto; /* Arama butonu genişliği otomatik olacak */
  height: 40px; /* Arama kutusu yüksekliği ile aynı */
}

.navbar .form-inline .input-group-prepend {
   border-radius: 10px 0 0 10px;
}

.navbar .form-inline .input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1; /* Arama butonunun üzerinde olmasını sağlar */
}

/* Navbar içindeki öğeleri aynı hizaya getirme */
.navbar-nav {
  display:flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 50px; /* Hizmetlerimiz ve Hesabım arasındaki boşluk */
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-nav .form-inline {
  display: flex;
  align-items: center;
}

/* Dropdown açılırken */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
/* Arama çubuğu aktif durumunda */
 .navbar .form-inline .input-group input.form-control:focus {
  border-color: #000 !important; /* Siyah border */
  box-shadow: none !important; /* Gölgeyi kaldır */
}

/* banner */
.wrapper {
  margin-top: 5px;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  position: relative;
}

.banner {
  position: relative;
  width: 100%;
  height: 300px; /* Sabit yükseklik */
  overflow: hidden;
}

.banner img {
  width: 900px; /* Sabit genişlik */
  height: 300px; /* Sabit yükseklik */
  object-fit: cover;
  image-rendering: crisp-edges; /* Fotoğrafı daha net göstermek için */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  text-align: left;
  overflow: hidden;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.arrow:hover {
  background-color: #000;
  color: #fff;
}

.icon {
  font-size: 24px;
  font-weight: bold; /* Kalınlık arttırma */
  transition: transform 0.3s;
}

.arrow:hover .icon {
  transform: scale(1.1);
}

.expanded {
  white-space: normal !important;
}

@media (max-width: 900px) {
  .frame {
    max-width: 90%;
  }
  .banner img {
    width: 100%;
  }
}


/* populer dersler */
.PopularTitle {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 8%;
}

.PopularBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.PopularBoxItem {
  width: calc(33.33% - 20px); /* 3 sütunlu düzen için genişlik */
  max-width: 300px; /* Maksimum genişlik */
  margin: 10px;
  border: 2px solid #000; /* Border'ı değiştirildi */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s ease;
}

.PopularBoxImg:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .PopularBoxItem {
    width: calc(50% - 20px); /* 2 sütunlu düzen için genişlik */
  }

  .PopularTitle {
    font-size: 1.2rem; /* Başlık boyutunu küçült */
    margin-left: 5%; /* Başlık sol kenar boşluğunu ayarla */
  }
}

@media screen and (max-width: 480px) {
  .PopularTitle {
    font-size: 1rem; /* Başlık boyutunu daha da küçült */
    margin-left: 2%; /* Başlık sol kenar boşluğunu daha da azalt */
  }

  .PopularBoxItem {
    width: calc(100% - 20px); /* Tek sütunlu düzen için genişlik */
  }
}

/* Blog Part */
.BlogPart {
  border-radius: 15px;
  width: 80%;
  float: left;
  margin: 10px;
}




/* Footer */
.SwapFooter {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

 .footer-section {
  flex: 1;
  text-align: left;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
 }

.footer-section p {
  margin-bottom: 10px;
  font: normal normal medium 18px/40px Rubik;
  font-weight: bolder;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 5px;
  font: normal normal normal 16px/30px Rubik;
}

.vertical-line {
  content: "";
  display: inline-block;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  margin: 0 10px;
}



      
