*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.terms{
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}

.list-group-item.active{
  background-color: #000000;
  border-color: #000000;
  
}

body {
    font-family: "Rubik", sans-serif;
  }
  /*smartbar*/
  .left-content {
    display: flex;
    align-items: center;
  }
  
  .date {
    font: normal normal normal 14px/8px Rubik;
  }
  
  .welcome {
    font: normal normal medium 18px/8px Rubik;
    margin-top: -4px;
  }
  
  .smart-bar-text {
    font: normal normal 19px/8px Rubik;
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Close button style */
  #closeBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
    position: relative;
    right: 10px; /* Adjust as needed */
  }
  
  #closeBtn:hover {
    color: #cccccc;
  }
  
  @media only screen and (max-width: 1080px) {
    .container-fluid {
      display: none;
    }
  }
   /* Navbar stil */
  .navbar {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Altına geçişli shadow */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 15px; /* Logo sola yatırıldı */
  }
  
  .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 1.1rem;
    color: #333;
  }
  
  /* Arama çubuğu stil */
  .navbar .form-inline .input-group {
    flex: 1; /* Tüm alanı kaplamasını sağlar */
    border: 1px solid #000;
    border-radius: 10px;
  }
  
  .navbar .form-inline .form-control {
    width: 700px; /* Arama kutusu genişliği arttırıldı */
    height: 40px; /* Arama kutusu yüksekliği */
    font-size: 1.2rem; /* Yazı boyutu */
  }
  
  .navbar .form-inline .btn {
    width: auto; /* Arama butonu genişliği otomatik olacak */
    height: 40px; /* Arama kutusu yüksekliği ile aynı */
  }
  
  .navbar .form-inline .input-group-prepend {
     border-radius: 10px 0 0 10px;
  }
  
  .navbar .form-inline .input-group-append {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; /* Arama butonunun üzerinde olmasını sağlar */
  }
  
  /* Navbar içindeki öğeleri aynı hizaya getirme */
  .navbar-nav {
    display:flex;
    align-items: center;
  }
  
  .navbar-nav .nav-item {
    margin-right: 50px; /* Hizmetlerimiz ve Hesabım arasındaki boşluk */
  }
  
  .navbar-collapse {
    justify-content: space-between;
  }
  
  .navbar-nav .form-inline {
    display: flex;
    align-items: center;
  }
  
  /* Dropdown açılırken */
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  /* Arama çubuğu aktif durumunda */
   .navbar .form-inline .input-group input.form-control:focus {
    border-color: #000 !important; /* Siyah border */
    box-shadow: none !important; /* Gölgeyi kaldır */
  }
